<div id="container-questionnaire">
	<div class="instructions well">
		<h1>Final Stage</h1>

		<p>Please complete one final block of trials to show that you understand the rule. Your performance on this block will be used as an <b>attention check</b>--you will not be bonused unless you show that you understood the rule. The rule is shown again below.</p>

        
		<div class="col-md-3">
		<img src="/../../static/images/category.png" width="600">
		</div>
		
		<div class="instructionsnav">
			<div class="row">
				<div class="col-xs-3">
  				<button id="but_done" class="btn btn-primary btn-lg continue">Continue</button>
				</div>
			</div>
		</div>

	</div>

</div>

<script>
			$("#but_done").click(function() {	
				nextPhase();
	  	});

</script>
