<div id="container-instructions">

    <h1>Instructions</h1>

    <hr>

     <div class="instructions well">

        <p>
        If you learn the rule and do well on the task you will earn a bonus, raising your pay from $4/hr up to $8/hr. If you do not learn the rule or if you fail to complete the task you will not earn the bonus.  
        </p>
    </div>

    <hr>

    <div class="instructionsnav">
        <div class="row">
            <div class="col-xs-2">
                <button type="button" id="next" value="next" class="btn btn-primary btn-lg previous">
                <span class="glyphicon glyphicon-arrow-left"></span> Previous
                </button>
            </div>
            <div class="col-xs-8">
            </div>
            <div class="col-xs-2">
                <button type="button" id="next" value="next" class="btn btn-primary btn-lg continue">
                Next <span class="glyphicon glyphicon-arrow-right"></span>
                </button>
            </div>
        </div>
    </div>

</div>
