<div id="container-instructions">

    <h1>Instructions</h1>

    <hr>

     <div class="instructions well">

        <p>
        If you learn the rule and do well you will earn a bonus, raising your pay from ~$4/hr up to ~$8/hr. If you do not learn the rule or if you fail to complete the task you will not earn the bonus.  
        </p>
        <div class="row">

            <div class="alert alert-warning">
                <b>Warning</b>: The base pay for the task is $1.00 on mturk--you will be bonused the rest of your pay based on time spent in the task. Breaks are not paid. We estimate the task to take ~30-45 minutes. Pace yourself and take breaks as needed.
            </div>
        </div>
    </div>

    <hr>

    <div class="instructionsnav">
        <div class="row">
            <div class="col-xs-2">
                <button type="button" id="next" value="next" class="btn btn-primary btn-lg previous">
                <span class="glyphicon glyphicon-arrow-left"></span> Previous
                </button>
            </div>
            <div class="col-xs-8">
            </div>
            <div class="col-xs-2">
                <button type="button" id="next" value="next" class="btn btn-primary btn-lg continue">
                Next <span class="glyphicon glyphicon-arrow-right"></span>
                </button>
            </div>
        </div>
    </div>

</div>
