<div id="container-instructions">

	<h1>Instructions</h1>

	<hr>

	<div class="instructions well">

	    <p>
			The next few pages are the intructions for this game. Please read them!
			</p>
	    
	    <script type="text/javascript">
	    //console.log(psiTurk.getInstructionIndicator())
	    </script>
        <div class="row">

            <div class="alert alert-warning">
                <b>Warning</b>: This experiment is in beta testing: you may not receive your bonus payment for up to 24 hours due to the manual work we have to do to calculate the bonus. We are automating this process in the future. We apologize for the delay, please do not accept this HIT if this is unacceptable.
            </div>
        </div>

	</div>

	<hr>


    <div class="instructionsnav">
        <div class="row">
            <div class="col-xs-2">
            	<!-- no previous button on first screen -->
            </div>
            <div class="col-xs-8">
            </div>
            <div class="col-xs-2">
                <button type="button" id="next" value="next" class="btn btn-primary btn-lg continue">
                Next <span class="glyphicon glyphicon-arrow-right"></span>
                </button>
            </div>
        </div>
    </div>

</div>
